.chart rect {
	fill: steelblue;
}

.chart text {
	fill: white;
	font: 12px san-serif;
	text-anchor: end;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;	
}

.scatter_points {
	fill: rgba(100, 100, 100, 0.5);
	stroke: black;
	stroke-width: 1px;
}
